database/config.js
node_modules
package-lock.json
.env
client/dist/bundle.js
database/reviews.csv
database/images.csv
database/subRatings.csv





# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
