database/config.js
node_modules
package-lock.json
.env
client/dist/bundle.js
*.csv
database/OldDBIndex.js
images/
imageGenerator.js
sampleQuery.md
artilleryLH.md
newrelic_agent.log
newrelic.config.js




# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
