database/config.js
node_modules
package-lock.json
.env
client/dist/bundle.js
database/helpers/reviews.csv
database/helpers/images.csv
database/helpers/subRatings.csv
database/OldDBIndex.js
images/
imageGenerator.js





# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
